* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.Header {
    display: flex;
    justify-content: center;

    > h1 {
        font-size: 20px;
    }
}