.ToDoList {
    list-style: none;
    margin: 0;
    padding: 0;

    + .ToDoList {
        margin-top: 30px;
    }
}

.ToDoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $primary;
    color: white;

    + .ToDoItem {
        border-top: 1px solid darken($primary, 10%);
    }

    > .title {
        flex: 1;
    }

    > .actions {
        display: flex;
        align-items: center;
    }

    &.-done {
        > .title {
            text-decoration: line-through;
        }
    }
}

.Checkbox {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}